################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EchoBot1/.vs/EchoBot1/v16/Server/sqlite3
