################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mmcChatProcessor/mmcChatProcessor/.vs/mmcChatProcessor
Debug/
bin/
obj/
/.vs
